@use 'variables';
@use 'header';
@use 'cta-banner';
@use 'navbar';

@font-face {
    font-family: Netflix Sans;
    src: url(../../assets/fonts/netflixsans-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Netflix Sans;
    src: url(../../assets/fonts/netflixsans-medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Netflix Sans;
    src: url(../../assets/fonts/netflixsans-light.ttf);
    font-weight: 300;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Netflix Sans;
}

body{
    list-style-type: none;
    list-style: none;
    background-color: variables.$bgColorSite;
}

a {
    text-decoration: none;
}

.button {
    background-color: variables.$colorButton;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    padding: 9px 20px;
    color: variables.$colorPrimary;
    text-transform: uppercase;
    font-weight: 300;
}

.button_link {
    border: 1px solid #888;
    border-radius: 2px;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    padding: 9px 20px;
}

.textPrimary {
    color: variables.$colorPrimary;
}

.textSecondary {
    color: variables.$colorPrimary;
}

.textThird {
    color: variables.$colorSecondary;
}

.textFooter {
    color: variables.$colorThird;
}

$textCount: 12;
@while $textCount <= 31 {
    .text-#{$textCount} {
        font-size: #{$textCount}px;
    }
    $textCount: $textCount + 2;
}

$weightCount: 300;
@while $weightCount <= 501 {
    .weight-#{$weightCount} {
        font-weight: #{$weightCount};
    }
    $weightCount: $weightCount + 100;
}


