.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #000;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        img {height: 30px;}
        @media (max-width: 599px) {
            display: none;
        }

        &--small {
            display: none;
            
            @media (max-width: 599px) {
                display: block;
            }

            img {
                height: 38px;
            }
        }
    }
    
    &_links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin: 0 8px;
        }

        @media (max-width: 768px) {
            p:first-child {
                display: none;
            }
        }
        
    }
}